html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#root {
    height: 100%;
}

#container {
    height: 100%;
    display: flex;
}

.air {
    padding: 3px;
}

.background {
    background-color: rgba(255, 250, 240, 0.6);
}

.boldBorders {
    border: 2px solid black;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.disabled {
    color: #BCC5D6;
}

.fat {
    padding: 6px;
    margin: 6px;
}

.filament {
    padding: 2px;
    margin: 2px;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.flex-element {
    flex: 1;
    text-align: center;
}

.highlight {
    font-size: 22px;
    color: darkred;
}
.moat {
    padding: 30px 100px;
    margin: 30px 100px;
}

.setWidth350 {
    width: 350px;
}

.smallBorders {
    border: 1px solid black;
    border-radius: 15px;
}

.slim {
    padding: 0px;
    margin: 0px;
}
.slim-top {
    padding-top: 0px;
    margin-top: 0px;
}
.slim-bottom {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.slim-left {
    padding-left: 0px;
    margin-left: 0px;
}
.slim-right {
    padding-right: 0px;
    margin-right: 0px;
}
.slim-margin {
    margin: 0px;
}
.slim-padding {
    padding: 0px;
}

.splitOnTwoSides {
    display: flex;
    height: 100%;
}

.splitOnTwoSides > div {
    width: 100%;
}

.spaceAround {
    justify-content: space-around;
}

.stretch {
    display: flex;
    align-content: space-between;
}

.wide {
    display: flex;
    flex-direction: column;
    padding: 3px;
    width: 200%;
}

.workersPanel {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
